!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{:"http-equiv" => "X-UA-Compatible", content: "IE=Edge,chrome=1"}
    %title React Demo01
    %script{src: "../lib/react.min.js"}
    %script{src: "../lib/react-dom.min.js"}
  %body
    #react-demo
    %script{src: "./demo.js"}
